/* Bonus */
@media screen and (max-width: 1100px) {
    .container {
        width: 100%;
    }
}

/* Tablet*/
/* @media screen and (max-width: 768px) {
    .container {
        width: 768px;
    }
} */

/* Mobile */
@media screen and (max-width: 576px) {
    /* .container {
        width: 576px;
    } */

    .row {
        flex-direction: column;
        gap: 60px;
    }

    .row .col {
        width: 100%;
    }

    .lessons .col img {
        max-width: 100%;
    }

    .why-us .container {
        background-color: #222222;
        padding: 48px 20px;
    }

    .why-us {
        margin-bottom: 0;
    }

    .steps {
        margin-bottom: 0;
    }
}