.container {
    max-width: 1140px;
    width: 100%;
}

/* Mobile */
@media screen and (max-width: 576px) {
    .row {
        flex-direction: column;
        gap: 60px;
    }

    .row .col {
        width: 100%;
    }

    .why-us .container {
        background-color: #222222;
        padding: 48px 20px;
    }

    .why-us,
    .steps {
        margin-bottom: 0;
    }
}